* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/* Navbar */
/* heading */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #45de82; */
    background: rgb(0,191,128);
    background: radial-gradient(circle, rgba(0,191,128,1) 42%, rgba(67,157,180,1) 96%);
    width: 100%;
    padding: 10px 20px;
    color:white;
    flex-wrap: wrap;
    min-height: 100px;
    margin-bottom: 40px;
}
.navbar-heading{
    font-size: 1.5rem;
    font-weight: bold;   
}

/* list */

#list{
  display: flex; 
  gap: 40px; 
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: large;
  flex-wrap: wrap;
  float: right;
}
#list li a{
    color:white;
    text-decoration: none;
    flex-direction: row;
}
/* #list li:hover{
 
} */

#list li a:hover{
    color:#024367;
}

/*Main content */
#image{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#imgHome{
    height: 200px;
    width: 150px;
    border-radius: 65%;
}
#imgHome:hover{
  box-shadow:10px 10px 10px lightslategray;
  transition: 1s;
}
p{
  margin: 20px auto;
  max-width: 1000px;
}

/* footer */

.footer{
  display: flex;
  background: rgb(0,191,157);
  background: linear-gradient(332deg, rgba(0,191,157,1) 42%, rgba(67,176,180,1) 96%);
  min-height: 150px;
  justify-content: space-evenly;
  margin-top: 50px;
}
#foot{
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-evenly;
  color:white;
}
#foot li a{
  text-decoration: none;
  color:white;
}

#foot li a:hover{
  color:grey;
}

#foot2{
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-evenly;
  color:white;
}

#MsgFooterBtn {
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 40px; 
  width: 120px; 
  border: 1px solid black;    
  border-radius: 5px;    
  background-color: #038555;  
  color: white;
}
#MsgFooterBtn:hover{
  background-color: darkslategrey;
}

/* About us */
#card{
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 300px;
  margin: auto;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
}

#imgAbout{
  border-radius: 50px;
  max-width: 200px;
  margin: auto;
}

/* media */

@media (max-width:640px){

    ul input[type=checkbox]{
    visibility: visible;
  }
  p{
    text-align: justify;
    max-width: 90%;
  }
  .navbar{
    display: flex;
  }
}

@media (max-width:350px){

}

