body {
  display: flex;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  justify-content: center;
}
table {
  border: 2px solid black;
  margin: 5px;
  padding: 3px;
  align-self: center;
  border-radius: 5px;
}
#login {
  background-color: green;
  font-size: large;
  color: white;
  min-width: 200px;
  min-height: 40px;
  border-radius: 10px;
}
#reset {
  background-color: slategrey;
  font-size: large;
  color: white;
  min-width: 200px;
  min-height: 40px;
  border-radius: 10px;
}
#login:hover {
  background-color: darkgreen;
}
#reset:hover {
  background-color: darkslategray;
}
